{% extends "layout.html" %}

{% block title %}Confirmação{% endblock %}

{% block content %}
    <div class="container container-md">
        <div class="card text-center">
            <div class="card-header">
                Confirmação de Presença
            </div>
            <div class="card-body">
                <h1 class="card-title text-success">Obrigado!</h1>
                <p class="card-text">Sua presença foi registrada com sucesso!</p>
                <p class="card-text"><strong>Participantes:</strong> {{ names }}</p>
                <p class="card-text"><strong>Número de Pessoas:</strong> {{ num_people }}</p>
                <a href="{{ url_for('rsvp.select_city') }}" class="btn btn-primary mt-3">Iniciar Novo RSVP</a>
            </div>
            <div class="card-footer text-muted">
                Arraiá da Laura
            </div>
        </div>
    </div>
{% endblock %} 