{% extends "layout.html" %}

{% block title %}Formulário de Contato{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-success text-center mb-4 page-title">Telefone para Contato</h1>

        {% if error %}
            <div class="alert alert-danger error-message" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            <div class="mb-3">
                <label for="phone_number" class="form-label">Qual seu telefone? (apenas números)</label>
                <input type="text" id="phone_number" name="phone_number" class="form-control form-control-lg" value="{{ phone_number if phone_number else '' }}" placeholder="Apenas números (ex: 12999998888)" pattern="\d{1,20}" maxlength="20" required>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
                <a href="{{ url_for('rsvp.names_form') }}" class="btn btn-secondary btn-lg">Voltar</a>
                <button type="submit" class="btn btn-primary btn-lg w-100 ms-3">Avançar</button>
            </div>
        </form>
    </div>
{% endblock %} 