{% extends "layout.html" %}

{% block title %}Seleção de Turma{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-success mb-4 text-center">Selecione seu Grupo</h1>
        <h2 class="h4 mb-4 text-center text-muted">Selecione de qual grupo de amigos você faz parte</h2>
        <p class="form-text text-muted mb-3">Se nenhum desses grupos se encaixa com você, entre em contato com a Laura.</p> 

        <form method="POST">
            {% if error %}
                <div class="alert alert-danger error-message" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="group" class="form-label">Grupo:</label>
                <select name="group" id="group" class="form-select form-select-lg" required>
                    <option value="" disabled selected>-- Escolha seu grupo --</option>
                    {% for group_option in groups %}
                        <option value="{{ group_option }}" {% if group_option == session.get('group') or group_option == request.form.group %}selected{% endif %}>{{ group_option }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
                <a href="{{ url_for('rsvp.select_city') }}" class="btn btn-secondary btn-lg">Voltar</a>
                <button type="submit" class="btn btn-primary btn-lg w-100 ms-3">Avançar</button>
            </div>
        </form>
    </div>
{% endblock %} 