{% extends "layout.html" %}

{% block title %}Formulário de Nomes{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-success text-center mb-4 page-title">Quem tanto vai?</h1>

        {% if error %}
            <div class="alert alert-danger error-message" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            {% for i in range(1, num_people + 1) %}
            <div class="person-entry">
                <h4>Pessoa {{ i }}</h4>
                <label for="name_{{ i }}">Nome:</label>
                <input type="text" id="name_{{ i }}" name="name_{{ i }}" value="{{ names[i-1] if names and names[i-1] is not none else '' }}" required class="form-control mb-2">
                
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between align-items-center mt-4">
                <a href="{{ url_for('rsvp.number_of_people') }}" class="btn btn-secondary btn-lg">Voltar</a>
                <button type="submit" class="btn btn-primary btn-lg w-100 ms-3">Avançar</button>
            </div>
        </form>
    </div>
{% endblock %} 