{% extends "layout.html" %}
{% block title %}Bem-vindo ao Arraiá da Laura{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h1 class="text-success text-center mb-4">Bem-vindo ao Arraiá da Laura!</h1>
    <p style="font-size: 1.2em;">Estamos muito felizes em convidá-lo para participar da nossa festa junina que acontecerá no dia <strong style="font-size: 1.5em;">5 de Julho</strong>.</p>
    <p>Aqui você poderá confirmar sua presença, e fazer a contribuição para nossas comidinhas.</p>
    <p>Prepare sua roupa de festa junina e venha se divertir!</p>
    <a href="{{ url_for('rsvp.select_city') }}" class="btn btn-primary btn-lg">Vamos lá!</a>
</div>
{% endblock %} 